{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% form_theme registrationForm 'themes/theme.html.twig' %}

{% block body %}
    <div class="ml-auto mr-auto mt-12 p-8 text-white bg-indigo-300 w-1/2 bg-gradient-to-t from-slate-700 to-slate-600 rounded-md shadow-2xl">
        <div class="navigation flex">
            <a href=""><div class="border-b-4 m-1 border-blue-400">SIGN IN</div></a>
            <a href=""><div class="m-1 text-gray-500">SIGN UP</div></a>
        </div>
        <div>
            {{ form(registrationForm) }}
        </div>
    </div>
{% endblock %}
